<h1 [ngClass]="classesObj">
	Welcome to {{ 'armenian' | translate }} Language!
</h1>
<button (click)="toggleBorder()">toggle</button>

<br>
<br>
<div>{{text}}</div>
<br>
<br>

<div class='ngNonBindableDemo'>
	<span class="bordered">{{ content }}</span>
	<span class="pre" ngNonBindable>
		&larr; This is what {{ content }} rendered
	</span>
</div>
<br>

<div>
	<button class="ui download primary button" (click)="setLang('eng')">Language: English</button>
	<button class="ui download primary button" (click)="setLang('arm')">Language: Armenian</button>
	<button class="ui download primary button" (click)="setLang('rus')">Language: Russian</button>
</div>

<br>
<hr class="dividing">
<br>

<div class="four wide column center aligned votes" style="text-align:right;">
	<div class="ui statistic" style="float: left;">
		<div class="value">{{ votes }}</div>
		<div class="label">Points</div>
	</div>
	<img src="assets/images/vote.jpg" width="100px" alt="">
</div>
<div class="twelve wide column">
	<span class="ui large header">{{ title }}</span>
	<ul class="ui big horizontal list voters">
		<li class="item">
			<a (click)="voteUp()">
				<i class="arrow up icon"></i>
				upvote
			</a>
		</li>
		<li class="item">
			<a (click)="voteDown()">
				<i class="arrow down icon"></i>
				downvote
			</a>
			Writing Your First Angular Web Application 40
		</li>
	</ul>
</div>

<br>
<br>
<br>

<form-root></form-root>



